.button-back {
    -fx-background-color: #C72229;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-font-size: 15px;
    -fx-font-weight: 700;
}

.button-back:hover {
    -fx-background-color: #AB1E24;
}

.button-save {
    -fx-background-color: #C72229;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-font-size: 23px;
    -fx-pref-width: 600px;
    -fx-font-weight: 700;
}

.button-save:hover {
    -fx-background-color: #AB1E24;
}



.win-popup {
    -fx-background-color: #FFF6E9;
    -fx-padding: 30;
    -fx-border-color: #2E8B57;
    -fx-border-width: 8;
    -fx-background-radius: 30;
    -fx-border-radius: 5;
    -fx-pref-height: 1000;
    -fx-pref-width: 400;
}

#playerName {
    -fx-font-size: 36px;
    -fx-fill: #2E8B57;
    -fx-font-weight: bold;
}

#score {
    -fx-font-size: 36px;
    -fx-fill: #2E8B57;
    -fx-font-weight: bold;
}

#winnerText {
    -fx-font-size: 24px;
    -fx-fill: #2E8B57;
    -fx-font-weight: bold;
}

.finish-button {
    -fx-background-color: #2E8B57;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-font-weight: bold;
}
